footer
{
    display: flex;
    padding: 2.75rem;
    background-color: var(--night);
    color: var(--pale-purple);
    font-size: 1.15em;

    & > div
    {
        width: 33%;

        & > *:nth-child(2)
        {
            margin: 1.5rem 0;
        }
    }

    #get-in-touch
    {
        text-align: center;
        margin: 0 1rem;

        #icons
        {
            display: flex;
            justify-content: space-between;
            width: 5rem;
            margin: auto;

            i
            {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 800px)
{
    footer
    {
        flex-direction: column-reverse;
        padding: 1.4rem;

        & > div:not(:last-of-type)
        {
            width: 100%;
            margin: 0.8rem 0 !important;
        }

        #get-in-touch
        {
            text-align: left !important;

            #icons
            {
                margin: 0;
            }
        }
    }
}