#journey
{
    position: relative;
    display: flex;
    justify-content: space-between;

    & > *
    {
        flex-basis: 50%;
    }

    &:after
    {
        content: "";
        position: absolute;
        left: calc(50% - 0.25rem);
        width: 0.5rem;
        height: 100%;
        border-radius: 0.25rem 0.25rem 0 0;
        background-color: var(--english-violet);
    }

    h2
    {
        border-bottom: 0.25rem solid var(--maya-blue);
        width: fit-content;
        padding: 1rem 3rem;
    }

    .text-left
    {
        text-align: left;
    }

    .text-right
    {
        text-align: right;
    }
}

@media (min-width: 2300px)
{
    #journey
    {
        width: 50% !important;
    }
}

@media (min-width: 1600px)
{
    #journey
    {
        width: 75%;
        margin: auto;
    }
}

@media (max-width: 767px)
{
    #journey
    {
        flex-direction: column;

        &:after
        {
            display: none;
        }

        h2
        {
            text-align: center;
            padding: 0 !important;
        }

        .text-left, .text-right
        {
            text-align: center;
        }
    }
}