<footer>
    <div>
        <h3>Plan du site</h3>

        <nav>
            <li><a routerLink="/aptitudes">Aptitudes</a></li>
            <li><a routerLink="/gallery">Galerie</a></li>
            <li><a routerLink="/journey">Périple</a></li>
            <li><a routerLink="/bio">Biographie</a></li>
        </nav>

        <em>&copy; Copyright {{ currentYear }} - Dervey Dylan</em>
    </div>

    <div id="get-in-touch">
        <h3>Entrons en contact</h3>

        <p>
            Dylan Dervey<br>
            derveydylan.pro&#64;gmail.com <!-- &#64 => @ (at) -->
        </p>

        <div id="icons">
            <a href="https://www.linkedin.com/in/derveydylan/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>

            <a href="https://github.com/derveydylan" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>

    <div>
        <!-- Empty for now -->
    </div>
</footer>