<header>
    <nav>
        <div id="logo">
            <a routerLink="/" (click)="closeMenu()">
                <img src="/assets/images/DD_Logo_Zoomed.png" alt="Logo du site">
                <p>
                    <span>D</span>ervey
                    <span>D</span>ylan
                </p>
            </a>
        </div>

        <p id="links-menu" (click)="toggleMenu()">
            <i id="menu-icon" class="fa-solid fa-bars"></i> {{ menuButtonText }}
        </p>

        <div id="links" (click)="closeMenu()">
            <a routerLink="/aptitudes" routerLinkActive="active-link">
                Aptitudes
            </a>

            <a routerLink="/gallery" routerLinkActive="active-link">
                Galerie
            </a>

            <a routerLink="/journey" routerLinkActive="active-link">
                Périple
            </a>

            <a routerLink="/bio" routerLinkActive="active-link">
                Biographie
            </a>
        </div>
    </nav>
</header>