<section id="presentation">
    <div id="greetings">
        <app-avatar />

        <div id="greetings-text">
            <h1>Bonjour !</h1>

            <p>
                Je me présente, Dylan Dervey.<br>
                <em>Ravi de faire connaissance !</em>
            </p>
        </div>
    </div>

    <div id="activity">
        <h2>Actuellement...</h2>

        <p>
            J'ai terminé avec succès ma 3ème année d'apprenti développeur d'applications CFC.<br>
        </p>
    </div>

    <app-personal-quote />
</section>

<section id="quick-links">
    <div class="quick-link">
        <h2>Aptitudes</h2>

        <p>Mes compétences informatiques.</p>

        <a routerLink="/aptitudes" class="btn btn-primary">
            Découvrir
        </a>
    </div>

    <div class="quick-link">
        <h2>Galerie</h2>

        <p>Mes projets personnels et professionnels.</p>

        <a routerLink="/gallery" class="btn btn-primary">
            Découvrir
        </a>
    </div>

    <div class="quick-link">
        <h2>Périple</h2>

        <p>Mon parcours scolaire et professionnel.</p>

        <a routerLink="/journey" class="btn btn-primary">
            Découvrir
        </a>
    </div>
</section>